<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/posts.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostDeleteServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.PostDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostDeleteServlet</servlet-name>
        <url-pattern>/post/delete.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CandidateServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.CandidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateServlet</servlet-name>
        <url-pattern>/candidates.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CandidateDeleteServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.CandidateDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateDeleteServlet</servlet-name>
        <url-pattern>/candidate/delete.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CityServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.CityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CityServlet</servlet-name>
        <url-pattern>/cities</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/reg.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PhotoServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.PhotoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PhotoServlet</servlet-name>
        <url-pattern>/photo.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GreetingServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.GreetingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreetingServlet</servlet-name>
        <url-pattern>/greet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.dream.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
</web-app>